/* my-custom-variant */
:root {
  --BOX-ORANGE-color: #b37b56; /* background color of orange boxes */
  --CODE-BLOCK-BORDER-color: #d8d8d8; /* border color of block code */
  --CODE-INLINE-BORDER-color: #f8e8c8; /* border color of inline code */
  --MAIN-LINK-HOVER-color: #134fbf; /* hoverd link color of content */
  --MENU-HEADER-BG-color: #b37b56; /* background color of menu header */
  --MENU-SEARCH-BORDER-color: #e0e0e0; /* border color of search box */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #dde3e3; /* background color of the displayed menu topic */
  --MENU-SECTIONS-BG-color: #60402b; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-LINK-HOVER-color: #ffffff; /* hoverd link color of menu topics */
  --MENU-VISITED-color: #3d455c; /* icon color of visited menu topics if configured */
  --SWAGGER-theme: light; /* name of the default Swagger theme for this variant, can be overridden in config.toml */
}
