/* my-custom-variant */
:root {
  --BOX-BG-color: #90979b; /* background color of colored boxes */
  --BOX-BLUE-color: #1a5678; /* background color of blue boxes */
  --BOX-CAPTION-color: #0e000d; /* text color of colored box titles */
  --BOX-GREEN-color: #38a48c; /* background color of green boxes */
  --BOX-ORANGE-color: #c34800; /* background color of orange boxes */
  --BOX-RED-color: #740001; /* background color of red boxes */
  --BOX-TEXT-color: #0e000d; /* text color of colored box content */
  --CODE-BLOCK-BG-color: #051d64; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-color: #eeefea; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-INLINE-BG-color: #051d64; /* background color of inline code */
  --CODE-INLINE-BORDER-color: #051d64; /* border color of inline code */
  --CODE-INLINE-color: #eeefea; /* text color of inline code */
  --MAIN-BG-color: #0e000d; /* background color of content */
  --MAIN-LINK-color: #159097; /* link color of content */
  --MAIN-LINK-HOVER-color: #1a5678; /* hoverd link color of content */
  --MAIN-TEXT-color: #eeefea; /* text color of content and h1 titles */
  --MAIN-TITLES-H1-color: #f8d092; /* text color of h1 titles */
  --MAIN-TITLES-H2-color: #f8d092; /* text color of h2-h6 titles */
  --MAIN-TITLES-H3-color: #38a48c; /* text color of h3-h6 titles */
  --MAIN-TITLES-H4-color: #0e000d; /* text color of h4-h6 titles */
  --MAIN-TITLES-TEXT-color: #0e000d; /* text color of h2-h6 titles and transparent box titles */
  --MENU-HEADER-BG-color: #159097; /* background color of menu header */
  --MENU-HOME-LINK-color: #f8d092; /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: #f8d092; /* hoverd home button color if configured */
  --MENU-SEARCH-BG-color: #0e000d; /* background color of search box */
  --MENU-SEARCH-BORDER-color: #eeefea; /* border color of search box */
  --MENU-SEARCH-color: #eeefea; /* text and icon color of search box */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #eeefea; /* background color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #2e2036; /* text color of the displayed menu topic */
  --MENU-SECTION-HR-color: #eeefea; /* separator color of menu footer */
  --MENU-SECTIONS-ACTIVE-BG-color: #2e2036; /* background color of the active menu section */
  --MENU-SECTIONS-BG-color: #2e2036; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-LINK-color: #eeefea; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #f8d092; /* hoverd link color of menu topics */
  --MENU-VISITED-color: #159097; /* icon color of visited menu topics if configured */
  --SWAGGER-theme: light; /* name of the default Swagger theme for this variant, can be overridden in config.toml */
}
